# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TailwindCSS output files
src/assets/css/main.css
src/assets/css/main.css.map

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml

# Environment files
.env
.env.local
.env.*.local

# Build directory (if applicable)
dist/
build/

# Temporary files
*.tmp
*.swp